<center>
    <h2>Enter URL</h2>
    <%= form_for(@url, url: shortened_urls/create) do |f| %>
        <%=f.label :original_url %>
        <%= f.text_field :original_url %>

        <%= f.submit %>
    <% end %>
</center>